.header {
  width: auto;
  height: auto;
}

.header__logo {
  width: 254.84px;
  height: 68.94px;
  margin: 0 auto;
  display: block;
  padding-top: 34px;
  padding-bottom: 91px;
}

.header__elements {
  width: 984px;
  height: 983px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 92px;
}

.header__title {
  width: 720px;
  font-family: "inter black", "Arial", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  margin: 0 0 32px 0;
  text-align: center;
}

.header__subtitle {
  width: 720px;
  font-family: "inter regular", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin: 0 0 64px 0;
  text-align: center;
}

.header__image {
  width: 984px;
  height: 615px;
}

@media (max-width: 1024px) {
  .header__logo {
    width: 254px;
    height: 66px;
    padding-top: 30px;
    padding-bottom: 90px;
  }

  .header__elements {
    max-width: 750px;
    width: 100%;
    height: 735px;
    margin-bottom: 90px;
  }

  .header__title {
    width: 530px;
    font-size: 75px;
    line-height: 79px;
    margin: 0 0 25px 0;
  }

  .header__subtitle {
    max-width: 720px;
    width: 100%;
    margin: 0 0 30px 0;
  }

  .header__image {
    width: 100%;
    height: 480px;
  }
}

@media (max-width: 544px) {
  .header__logo {
    width: 188px;
    height: 52px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__elements {
    width: 288px;
    height: 330px;
    margin-bottom: 64px;
  }

  .header__title {
    width: 245px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px 0;
  }

  .header__subtitle {
    width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 40px 0;
  }

  .header__image {
    width: 304px;
    height: 200px;
  }
}
