.photo-grid {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 92px;
}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}
.photo-grid__item {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1024px) {
  .photo-grid__container {
    max-width: 720px;
    width: 100%;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .photo-grid__item {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (max-width: 544px) {
  .photo-grid__container {
    max-width: 288px;
    width: 100%;
    gap: 12px;
    grid-template-columns: auto;
    margin: 0 auto;
  }

  .photo-grid__item {
    width: 100%;
    height: auto;
    display: block;
  }
}
